<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="File_Name_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <File_Name_Manager.Properties.Settings>
            <setting name="LastFolderUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCustomDateFormat" serializeAs="String">
                <value>yyyyMMd_HHmmss</value>
            </setting>
            <setting name="LastIncludeFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFileDateOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenameOnlyMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSourceImageFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateSubFoldersByDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubFolderFormat" serializeAs="String">
                <value>YYYY/mm</value>
            </setting>
            <setting name="KeepOriginal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRawDate" serializeAs="String">
                <value>True</value>
            </setting>
        </File_Name_Manager.Properties.Settings>
    </userSettings>
</configuration>
